annotated-types==0.7.0
ansicon==1.89.0
anyio==4.4.0
asgiref==3.8.1
beautifulsoup4==4.12.3
blessed==1.20.0
bs4==0.0.2
cached-property==1.5.2
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
commonmark==0.9.1
cryptography==42.0.8
dictdiffer==0.9.0
Django==5.0.6
django-allauth==0.63.3
editor==1.6.6
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.6.0
googleapis-common-protos==1.63.1
googlesearch-python==1.2.4
grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
inquirer==3.2.4
isodate==0.6.1
jinxed==1.2.1
notion==0.0.28
notion-api==0.7.4
notion-client==2.2.1
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
PyJWT==2.8.0
pyparsing==3.1.2
python-googlesearch==1.1.1
python-slugify==8.0.4
python-telegram-bot==21.2
pytz==2024.1
pyuseragents==1.0.5
readchar==4.1.0
requests==2.32.3
rsa==4.9
runs==1.2.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.5.0
telegram==0.0.1
text-unidecode==1.3
tqdm==4.66.4
typing_extensions==4.12.1
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.13
xmod==1.8.1
